
#se {
  position: fixed;
  height: 100%;
  width: 15%;
  background-color: #121a21;
}


#se_t {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  display: block;
  padding: 10px 20px;
  border-bottom: 1px solid #121a21;
  background-color: #aaaaaa;
}

#logouut{
  bottom: 0;
  position: fixed;
    width: 15%;
}

#logoutt{

  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  display: block;
  padding: 10px 20px;
  border-bottom: 1px solid black;
  background-color: #aaaaaa;
}

#logoutt:hover{
  background-color: red;
}

#se_t:hover{
  background-color: #39ac73;
}
